<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- trigger all levels log generation -->
    <logger name="ru.dmkuranov.temporaltests" level="ALL">
        <appender-ref ref="NOOP"/>
    </logger>

    <appender name="NOOP" class="ch.qos.logback.core.helpers.NOPAppender"/>

</configuration>
